.nav {
    display: flex;
    justify-content: space-between;

    padding: 20px 0px;
}

.thumb {
    display: flex;
    gap: 40px
}

.link {
    padding: 5px 5px;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3;


    &:hover,
    :focus {
        color: #7579ff
    }
}

.link svg path {

    &:hover,
    :focus {
        fill: #7579ff;
        stroke: #7579ff;
    }
}

.activeLink {
    padding: 5px 5px;

    font-size: 14px;
    font-weight: 500;

    border-bottom: 3px solid #7579ff;

    &:hover,
    :focus {
        color: #7579ff
    }

}

.activeLink svg path {
    fill: #7579ff;
    stroke: #7579ff;
}