.formGroup {
    padding: 0px 20px 20px 20px;
    width: 500px;

    display: grid;
    gap: 20px;
    
    background-color: #fff;
    // border: 1px solid #ccc;
    // border-radius: 5px;
    border-bottom-right-radius: 5px;
}

.thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelTitle {
    margin-right: 25px;
}

.labelText {
    margin-right: 10px;

}

.field {
    padding: 10px 5px;
    width: 300px;

    border: 1px solid #ccc;
    border-radius: 5px;
}